@import "tailwindcss";

@theme {
  --breakpoint-xsm: 475px;
  --breakpoint-sm: 640px;
  --breakpoint-md:768px;
  --breakpoint-tablet: 900px;
  --breakpoint-lg-md: 1132px;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.bg-ambientLight {
  background-image: radial-gradient(
    68.54% 68.72% at 55.02% 31.46%,
    hsla(0, 0%, 85%, 0.08) 0,
    hsla(0, 0%, 55%, 0.02) 50%,
    hsla(0, 0%, 45%, 0) 80%
  );
}
.bg-ambientLight3 {
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    hsla(0, 0%, 85%, 0.04) 0,
    hsla(0, 0%, 45%, 0.02) 80%,
    transparent 100%
  );
}

.bg-ambientLight2 {
    background-image: radial-gradient(50% 50% at 50% 50%, hsla(0, 0%, 85%, .06) 0, hsla(0, 0%, 45%, .02) 80%, transparent 100%);
}

@property --border-angle-one {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@property --border-angle-two {
  syntax: "<angle>";
  inherits: false;
  initial-value: 180deg;
}

body {
  /* background: var(--background);
  color: var(--foreground); */
  /* font-family: Arial, Helvetica, sans-serif; */
  background: #0a0a0a;
  color: #ededed;
}
::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: transform, opacity, scale;
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 2;
  animation: none !important;
}

::view-transition-old(root) {
  z-index: 1;
  animation: none !important;
}
